name: Build EXE
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Verifica file presenti
        run: dir

      - name: Compile EXE
        run: csc /target:exe /out:Programma.exe *.cs

      - name: Upload Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: MioEseguibileWindows
          path: Programma.exe
